---
---
{% if site.color_scheme and site.color_scheme != "nil" %}
  {% assign color_scheme = site.color_scheme %}
{% else %}
  {% assign color_scheme = "light" %}
{% endif %}
{% include css/just-the-docs.scss.liquid color_scheme=color_scheme %}

a {
    color: #2c84fa;
    text-decoration:none
}



.btn {
    display: inline-block;
    box-sizing: border-box;
    padding-top: 0.3em;
    padding-right: 1em;
    padding-bottom: 0.3em;
    padding-left: 1em;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: 1.5;
    color: #2c84fa;
    text-decoration: none;
    vertical-align: baseline;
    cursor: pointer;
    background-color: #f7f7f7;
    border-width: 0;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
    appearance: none;
}

.btn:focus {
    text-decoration: none;
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 0, 255, 0.25);
}

.btn:focus:hover, .btn.selected:focus {
    box-shadow: 0 0 0 3px rgba(0, 0, 255, 0.25);
}

.btn:hover, .btn.zeroclipboard-is-hover {
    color: #227efa;
}


.btn-primary {
    color: #fff;
    background-color: #2448a7;
    background-image: linear-gradient(#2b55c4, #2448a7);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 4px 10px rgba(0, 0, 0, 0.12);
}

.btn-primary:hover, .btn-primary.zeroclipboard-is-hover {
    color: #fff;
    background-color: #22459e;
    background-image: linear-gradient(#2850b7, #22459e);
}

.btn-primary:active, .btn-primary.selected, .btn-primary.zeroclipboard-is-active {
    background-color: #21439a;
    background-image: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
}

.btn-primary.selected:hover {
    background-color: #1d3a85;
}
